body {
    font-family: Arial, sans-serif;
    background-color: #5ceb93;
    margin: 0;
    padding: 0;
}

.login-container, .dashboard, .container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #157e8b;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

button {
    padding: 10px 20px;
    background: #3f7bdc;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

.error {
    color: red;
}